<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>LifeGuard AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav>

<div class="logo">
🏥 LifeGuard AI
</div>


<ul>

<li><a href="/">Home</a></li>

<li><a href="/chatbot">AI Chatbot</a></li>

<li><a href="/medicine">Medicine</a></li>

<li><a href="/water">Water</a></li>

<li><a href="/meditation">Meditation</a></li>

<li><a href="/emergency">Emergency</a></li>

</ul>


</nav>








<section class="hero">


<h1>
🏥 Welcome to LifeGuard AI
</h1>


<p>
AI Powered Personal Health and Emergency Assistance System
</p>






<div class="card">


<h2>🤖 AI Health Assistant</h2>


<p>
Ask your health related questions and get instant AI guidance.
</p>


<a href="/chatbot" class="btn">
Open Chatbot
</a>


</div>








<div class="card">


<h2>💊 Medicine Reminder</h2>


<p>
Manage your daily medicine schedule easily.
</p>


<a href="/medicine" class="btn">
Medicine Tracker
</a>


</div>








<div class="card">


<h2>💧 Water Intake</h2>


<p>
Track your daily water intake and stay hydrated.
</p>


<a href="/water" class="btn">
Water Tracker
</a>


</div>








<div class="card">


<h2>🧘 Mental Wellness</h2>


<p>
Relax your mind with meditation and stress relief exercises.
</p>


<a href="/meditation" class="btn">
Start Meditation
</a>


</div>








<div class="card">


<h2>🚨 Emergency SOS</h2>


<p>
Send emergency alerts with location support to family members.
</p>


<a href="/emergency" class="btn">
Emergency Help
</a>


</div>






</section>





</body>

</html>